.grid-container {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: 100px 1fr 100px 100px;
    gap: 15px;

    background: #fff;
    padding: 20px;
    border: 2px solid #333;
}

.grid-item {
    background: green;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.item1 {
    grid-column: 1 / 3;
    background: red;
}

.item4 {
    grid-row: 2 / 4;
    background: slateblue;
}