img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    font-family: 'Trebuchet MS', sans-serif;
}

a {
    color: #2d6a4f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.earth-banner {
    background-image: url("./earth-img.jpg");
    background-size: cover;
    background-position: center;
    height: 300px; /* Set height for visibility */
    border-radius: 10px;
    margin-top: 20px;
}


/* For table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

caption {
    caption-side: top;
    font-weight: bold;
    color: darkgreen;
    padding: 10px;
}

th, td {
    border: 1px solid #888;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #95d5b2;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}
